.card-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px #00000033;
    background: var(--third-color);
    transition: transform 0.3s;
    cursor: pointer;
}

.card-container:hover {
    transform: scale(0.95);
}

.img-container {
    width: 100%;
    height: 200px; 
    border-radius: 10px;
    overflow: hidden;
}

.news-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
    color: #333;
}

.card-description {
    font-size: 1rem;
    text-align: center;
    color: #555;

}
